/*dark color scheme*/

h1,
h2,
h3,
h4,
h5,
h6,
body,
.reveal-modal {
    background-color: #434040;
    color: #f7f7f7;
}
.close-reveal-modal {
    color: #f7f7f7!important;
    width: auto!important;
}
.filmitem {
    float: left;
    /*    margin-bottom: 2rem;*/
}
.preloader {
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -20px;
    margin-left: -20px;
    border: solid 3px;
    border-color: #555555 white;
    border-radius: 1000px;
    -webkit-animation: spin 2s linear infinite;
    -moz-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
.switch label {
    color: white!important;
    text-indent: 60px!important;
}
@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}
@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}
@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
.switch {
    margin: 0.5em 0;
}
.off-canvas-wrap,
.inner-wrap,
body {
    height: 100%;
    /*    overflow: scroll;*/
}
.filmItemHouder h5 {
    height: 1.4rem;
    overflow: hidden;
    display: inline-block;
}
.reveal-modal {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin-left: 0;
    overflow-y: auto;
}
.reveal-modal .button {
    width: 100%!important;
}
#content {
    height: 100%;
    overflow-y: auto;
}
.tabs.vertical {
    width: 100%;
}